/*  RESPONSIVE Boolean aCademy */

@media screen and (max-width:419px) {

  .row {
    max-width: 100%;
    margin-top: 0;
  }

  h3 {
    font-size: 25px;
  }
 /* BLOCCO LEZIONI */
 #lezioni .row>.left,
 #lezioni .row>.right {
   width: 100%;
   float: none;
   font-size: 15px;
 }

 #lezioni .row img {
   margin-top: 30px;
 }

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: none;
  width: 100%;
  font-size: 15px;
}


#steps .row img {
  margin-top: 30px;
}

/* BLOCCO PERCHE */
#why .row>.first,
#why .row>.second,
#why .row>.third {
  margin-top: 40px;
  font-size: 15px;
}







}
