/*  RESPONSIVE Boolean aCademy */

@media screen and (max-width:419px) {

  .row {
    max-width: 405px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
 /* BLOCCO LEZIONI */
 #lezioni .row>.left,
 #lezioni .row>.right {
   width: 100%;
   float: none;
   font-size: 22px;
 }

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: none;
  width: 100%;
  font-size: 22px;
}

#steps .row>.central img,
#steps .row>.right img {
  margin-top: 20px;
}



}
